---
import { getCollection } from "astro:content";
import Container from "~/components/Container.astro";
import FormattedDate from "~/components/FormattedDate.astro";
import Layout from "~/layouts/Layout.astro";

const posts = (await getCollection("blog")).sort((a, b) => {
  return a.data.datePublished < b.data.datePublished ? 1 : -1;
});
---

<Layout>
  <Container class="mt-4 lg:mt-8">
    <h1>hi, i'm amos.</h1>
    <p class="mt-4">i'm a 1x developer based in slovakia. i write about things i'm working on and find interesting.</p>

    <section>
      <h2>blog posts.</h2>
      <ul class="mt-4 p-0 divide-y divide-zinc-50 dark:divide-zinc-800 gap-y-4">
        {
          posts.map((post) => {
            return (
              <li class="items-baseline text-zinc-400 flex flex-row gap-x-4 list-none px-0 py-2">
                <FormattedDate class="text-sm" date={post.data.datePublished} />
                <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                <span />
              </li>
            );
          })
        }
      </ul>
    </section>
  </Container>
</Layout>
