---
import Container from "~/components/Container.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="projects." description="a list of all my projects.">
  <Container class="mt-4 lg:mt-8">
    <h1>my projects.</h1>
    <p class="mt-4">i'm also building in public on twitter / x, so follow me there.</p>
  </Container>
</Layout>
