---
import Container from "~/components/Container.astro";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="projects." description="a list of all my projects.">
  <Container class="mt-4 lg:mt-8">
    <h1>my projects.</h1>
    <p class="mt-4">
      i'm also building in public on twitter / ğ•, so <a href="https://x.com/amosbastian" target="_blank"
        >follow me there</a
      >.
    </p>
    <section>
      <ul class="mt-4 p-0">
        <li
          class="mt-4 text-zinc-400 flex flex-row gap-x-4 items-center list-none px-0 py-2 border-y-zinc-50 border-y dark:border-y-zinc-800"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20" fill="none"
            ><path
              fill="#3B82F6"
              fill-rule="evenodd"
              d="M18.947 5.529A10 10 0 0 0 10 0C4.477 0 0 4.477 0 10s4.477 10 10 10a10 10 0 0 0 8.947-5.528L14.476 10l4.471-4.471ZM14.476 10 10 5.524 5.524 10 10 14.476 14.476 10Z"
              clip-rule="evenodd"></path></svg
          >
          <a href="https://contentbase.ai/" target="_blank"
            >contentbase - the easiest way to start an SEO optimised business blog.</a
          >
        </li>
      </ul>
    </section>
  </Container>
</Layout>
